<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<ul>
  <li>
    <%= link_to 'Task 1', controller: 'tasks', action: 'task_1' %>
  </li>
    <li>
    <%= link_to 'Task 2', controller: 'tasks', action: 'task_2' %>
  </li>
</ul>

<table>
  <tr>
    <th>Index</th>
    <th>Task</th>
    <th>Condition</th>
    <th>Input</th>
    <th>Result</th>
    <th>Action</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.number_task %></td>
      <td><%= task.condition %></td>
      <td><%= task.input %></td>
      <td><%= task.result %></td>
      <td><%= link_to 'Destroy', task_path(task),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
