<h1>Tasks#task_1</h1>
<p>Find me in app/views/tasks/tsak_1.html.erb</p>

<%= form_with scope: :tasks,
  url: :tasks_task_1_create,
  class: "form-group",
    local: true do |form| %>
  <p>
    <%= form.label :Ñondition, "Task conditions" %><br>
    <%= form.text_area :condition,
      value: 'We have length edge of cube equal = "a" units . Find volume and square of cube.',
      class: "form-control"%>
  </p>

  <p>
    <%= form.label :input, "Input number" %><br>
    <%= form.text_field :input,
      class: "form-control" %>
  </p>

  <p>
    <%= form.submit "Calculate",
      class: "btn btn-primary" %>
  </p>
<% end %>
